@model IEnumerable<PrjBiblioteca.Models.CarrinhoModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null || Model.Count() == 0)
{
    <br />
    <h3>Carrinho está vazio</h3>
}

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <!-- <th>..</th> -->
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                @*<td><img class="card-img-top" src="~/Imagens/Produtos/@item.Foto" width="80px" height="40px"></td>*@

                <td>@item.Titulo</td>

                <td>
                    <a asp-area="" asp-controller="Carrinho" asp-action="RemoverItem" asp-route-id="@item.LivroId" class="card-link">
                        <i class="fas fa-minus-square" title="Adicionar quantidade"></i>
                    </a>
                    @item.Quantidade
                    <a asp-area="" asp-controller="Carrinho" asp-action="AdicionarItem" asp-route-id="@item.LivroId" class="card-link">
                        <i class="fas fa-plus-square" title="Remover quantidade"></i>
                    </a>
                </td>

                <td>
                    <a asp-area="" asp-controller="Carrinho" asp-action="Remover" asp-route-id="@item.LivroId" class="card-link">
                        <i class="fas fa-trash" title="Remover livro"></i>
                    </a>
                </td>
            </tr>
        }   

        @if (TempData["MsgAlert"] != null)
        {
            <br>
            <div class="alert alert-dismissible @TempData["MsgEstilo"]" role="alert">

                <button type="button" class="close" data-dismiss="alert" arialabel="Close">
                    <span aria-hidden="true">&times;</span>
                </button>    

                <strong>Aten&ccedil;&atilde;o!!!</strong>&nbsp;@TempData["MsgAlert"]
                
            </div>
        }

    </tbody>

    <tfoot>
        <form asp-action="EmprestarLivros">
            <tr>
                <td colspan="3">
                    <input type="submit" value="Concluir" class="btn btn-success" />
                </td>
            </tr>
        </form>
    </tfoot>
</table>